@model Tourist_VietripInsum_2023.Models.BaiBao

@{
    ViewBag.Title = "CreateBaiBao";
    Layout = "~/Views/NhaBao/Layout/LayoutNhaBa.cshtml";
    Tourist_VietripInsum_2023.Models.QuanLyToaSoanEntities db = new Tourist_VietripInsum_2023.Models.QuanLyToaSoanEntities();
    var user2 = (Tourist_VietripInsum_2023.Models.NhanVien)HttpContext.Current.Session["user"];
    ViewBag.qlbb = "active";
    ViewBag.name = "Thêm bài báo";

}
<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">NHẬP THÔNG TIN</h3>
                <div class="tile-body">
                    <form method="post" enctype="multipart/form-data" action="/NhaBao/CreateBaiBao" style="width: 100%;">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.MaBaiBao)
                        @Html.HiddenFor(model => model.NgayDangBai)
                        @Html.HiddenFor(model => model.TrangThaiDuyet)
                        @Html.HiddenFor(model => model.TrangThaiBaiBao)
                        <div class="element-button">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Tiêu đề</label>
                                    @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control col-md-12", @required = "@required" } })
                                    @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">NoiDung</label>
                                    <textarea class="form-control col-md-12" name="NoiDung" cols="100" rows="50" required></textarea>
                                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(model => model.MaTL, "MaTL", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        <select class="form-control" id="MaTL" name="MaTL">
                                            @{
                                                foreach (var item in db.TheLoais)
                                                {
                                                    <option value="@item.MaTL">@item.TenTL</option>
                                                }
                                            }
                                        </select>
                                        @Html.ValidationMessageFor(model => model.MaTL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input id="MaUser" name="MaUser" value="@user2.MaNV" class="form-control col-md-6" readonly style="visibility:hidden" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="submit" value="Thêm" id="btnSave" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


